body{
	background: linear-gradient(to right,rgb(81, 236, 225),rgb(233, 81, 81));
}
h1{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	font-family: "Gill Sans", sans-serif;
	font-size: 60px;
	color: rgba(0, 0, 0, 0.456);
}
h3{
	margin-top: 100px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	font-family: "Gill Sans", sans-serif;
	font-size: 40px;
	color: rgba(0, 0, 0, 0.456);
}

.centerColor{
display: flex;
justify-content: center;
}
input{
	margin: 50px;
	width: 10em;
}

.centerHexPara{
	display: flex;
	justify-content: center;
	/* margin: 50px; */


}
p{
	margin: 50px;
	border: 0.8px solid black;
	width: 5.5em;
	text-align: center;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.83);
	font-family: "Gill Sans", sans-serif ;
	text-transform: uppercase;
	border-radius: 8px;

}

.info{
	display: flex;
    width:  320px;
	padding: 40px;
    background-color: rgba(255, 255, 255, 0.83);

	transform: translate(-50%,-50%);
	position: absolute;
	left: 85%;
	top: 70%;
	border-radius: 10px;
}
span{
	font-family: "Gill Sans", sans-serif ;
	font-size: 20px;
    /* margin: 20px; */
	word-break: keep-all;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    margin-top: -30px;
    

    
}

h6{
    margin-top: 30px;
	font-size: 15px;
	font-family: "Gill Sans", sans-serif ;
	word-break: keep-all;
    /* margin-top: 30px; */
}